# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
img/logo/adventure-junkies-logo-white.svg
img/logo/adventure-junkies-logo.ai
img/logo/adventurejunkies-logo-large-text-09.svg
img/logo/logo-adventure-junkies.svg