* {
    margin:none;
    box-sizing: border-box;
}

header {
    background-color:hotpink;
}

footer {
    background-color:hotpink;
}
.Sjaelland:hover {
    fill: hotpink;
}

.denmark-map {
    height: auto;
    width: 100%;
}

.marker {
    transform:scale(0.1);

}

.marker2{
    fill:hotpink;
    transform:translate(120px,361px) scale(0.1);
}

.marker3{
    fill:black;
    transform:translate(117px,351px) scale(0.1);
}

main {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.wrapper {
    grid-row:2;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));

}

.modal-background {
    display:none;
}

.modal {
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat (2, auto);
}

.cartouche {
    border:solid 1px black;
    border-radius: 10px;
    padding: 2em;
}


.image-thumbnail {
    width: 100%;
}

/* Styling the modal */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 4vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* Modal  */
.modal-content {
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    height: 80vh;
    background-color: white;
    padding: 2em;
}

/* Aboce is the modal */

