* {
    margin:none;
    box-sizing: border-box;
}

header {
    background-color:hotpink;
}

footer {
    background-color:hotpink;
}
.Sjaelland:hover {
    fill: hotpink;
}

.denmark-map {
    height: auto;
    width: 100%;
}

.marker {
    transform:translate(282px,355px) scale(0.1);

}

.marker2{
    fill:hotpink;
    transform:translate(610px,482px) scale(0.1);
}

.marker3{
    fill:black;
    transform:translate(610px,288px) scale(0.1);
}

main {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.wrapper {
    grid-row:2;
}

.modal {
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat (2, auto);
}
