* {
    margin:none;
    box-sizing: border-box;
}

header {
    background-color:hotpink;
}

footer {
    background-color:hotpink;
}
.Sjaelland:hover {
    fill: hotpink;
}

.denmark-map {
    height: auto;
    width: 100%;
}

.marker {
    transform:scale(0.1);

}

.marker2{
    fill:hotpink;
    transform:translate(120px,361px) scale(0.1);
}

.marker3{
    fill:black;
    transform:translate(117px,351px) scale(0.1);
}

main {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.wrapper {
    grid-row:2;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.modal {
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat (2, auto);
    display:none;
}

.cartouche {
    border:solid 1px black;
    border-radius: 10px;
    padding: 2em;
}


